@keyframes bottom-apps-slide-in{
    0%{
        transform: scale(1.5);
        bottom: -10px;
        opacity: 0;
    }
    100%{
        transform: scale(1);
        bottom: 15px;
        opacity: 1;
    }
}
@keyframes center-apps-move-in{
    from{
        transform: scale(1.5);
        top: 150px;
        opacity: 0;
    }
    to{        
        transform: scale(1);
        top: 30px;
        scale: 1;
        opacity: 1;
    }
}